<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Combat Domain</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="left">
            <img src="{% static 'images/main.png' %}" class="img-fluid" alt="">
            <!-- <img src="imgs/main1.png" alt="" class="img2"> -->
        </div>
        <div class="right right_section">
            <div class="right_box">
                <div class="select_box">
                    <h2 id="heading_one">Additional Information</h2>
                    <form action="" method="POST" enctype="multipart/form-data" >
                    {% csrf_token %}
                        <div class="input">
                            <label for="">Fight Name(only if your trainer has given you one)</label>
                            <input name="fight_name" type="text">
                        </div>
                        <div class="input">
                            <label for="">What is your fight weight?</label>
                            <div class="for_weight">
                                <input type="text" name="fight_weight" id="" placeholder="00.000">
                                <div class="inside_weight">
                                    <select name="weight_units" id="">
                                        <option value="kg">Kg</option>
                                        <option value="lbs">Lbs</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="input">
                            <label for="">What is your fight height?</label>
                            <div class="for_weight">
                                <input type="text" name="height_units" id="" placeholder="00.00">
                                <div class="inside_weight">
                                    <select name="height_units" id="">
                                        <option value="ft">Feet</option>
                                        <option value="cm">Cm</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="input">
                            <label for="">What GYM do you train at?*</label>
                            <input type="text" name="gym_name">
                        </div>
                        <div class="input">
                            <div class="radios_btn">
                                <input type="checkbox" name="" id="" class="checkbox">
                                <label for="">Your information on this platform is to find a suitable & fair match for you & your opponent, by ticking checkbox you are stating that all the information above is true?</label>
                            </div><br>
                            <div class="radios_btn">
                                <input type="checkbox" name="" id="" class="checkbox">
                                
                                <label for="">I have read and I accept the <a href="privacy.html">Privacy policy</a></label>
                            </div>
                        </div>
                        <div class="input">
                            <input type="submit" name="submit" value="Create Account" id="submit_btn">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>